[submodule "dApp-openairinterface5g"]
	path = dApp-openairinterface5g
	url = https://github.com/wineslab/dApp-openairinterface5g
[submodule "dApp-library"]
	path = dApp-library
	url = https://github.com/wineslab/dApp-library
[submodule "dApp-flexric"]
	path = dApp-flexric
	url = https://github.com/wineslab/dApp-flexric
